 .flexlogoarch{
     display: flex;
     /* padding: 0.50%; */
     margin-left: 45px;
 }
  .nav{
    margin-left: 263px;
    margin-top: 33px;
    /* border-style: double; */
    width: 330px;
    font-size: 19px;
    
  }
  .Down,.Log,.Reg{
      text-decoration: none;
      padding-left: 5%;
      font-weight: 490;
  }
 .logoclass{
     width: 40px;
     /* margin-top: 34px; */
 }
 .icons{
     width: 100%;
 }
 
 .fontbold{
     font-size: 15px;
 }
 .Techaca{
   /* margin-top: 15px; */
   margin-left: 5px;
 }
 .java{
  /* margin-top: 20px; */
  background-image: url(../IMAGETECHSTUDIO/bg\ \(3\).jpg);
  height: 540px;
  color: white;
  padding: 1%;
  display: flex;
  /* object-fit: contain;
  max-width: 100%;
  max-width: 100%; */
 }
 .learnhead{
     margin-top: 20px;
     margin-left: 10px;
    /* font-weight: 5px; */
 }
 .full{
    margin-top: 25px;
    /* margin-left: 25px; */
    width: 85%;
    padding: 5%;
 }
 .javacontain{
     /* display: flex; */
     width: 55%;

 }
 .pap{
     padding-top:  3%;
     /* padding-left: 3%; */

     width: 45%;
 }
 .papa{
     border-style: solid;
     border-color: white;
      width: 80%;
      background-color: white;
      color: black;
      /* width: 450x; */
     /* margin-left: 200px; */
     padding: 2%;
     /* margin-top:50px ; */
     /* height: 450px; */
     /* border-style: dotted; */
     /* margin-left: 70px; */
     
 }
 .faye{
    width: 45%;
    height: 55px;
    border-style: solid;
    font-size: large;
    margin-left: 10px;
 }
    
.Aloaye{
    width: 45%;
    height: 55px;
    border-style: solid;
    font-size: large;
    margin-left: 10px;
  
}
.techie{
    width: 95%;
    height: 55px;
    border-style: solid;
    font-size: large;
    margin-left: 10px;
}
 .techphone{
    width: 95%;
    height: 55px;
    border-style: solid;
    font-size: large;
    margin-left: 10px;
 }
 .move{
    width: 95%;
    height: 55px;
    background-color: #007bff;
    /* border-color: #007bff; */
    font-weight: 400;
    border-style: none;
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
    color: white;
    /* margin-right: 50px; */
    /* margin-bottom: 40px; */
    margin-left: 10px;
 }
 .form{
    margin-top:  6%;
    /* height: 330px; */
    /* width: 100%; */
   }
   .add{
  display: flex;
  width: 600px;
  margin-top: -240px;
  /* margin-left: 60pxpx; */
   }
   .seperate{
    width: 100%;
    /* margin-top: 40px; */
    /* margin-left: -35px; */
  }
  .yes{
    width: 300px;
    text-align: center;
 }
 .date{
  margin-left: 50px;
  }
  .time{
 margin-left: 80px;
 }
 .Studio1{
  margin-left: 100px;
  width: 5%;

  }
   .div1{
    margin-left: -330px; 
    margin-top: 30px;
    height: 70px;
    width: 80%; 
   }
   .div2{
    height: 70px;
    width: 80%;
    margin-bottom:-60px;
   }
   .text1{
    font-weight: bold;
   }
   .text2{
   margin-bottom: -30px;

   }
   .div2{
    margin-top: 6px;
   }
   .enrolled{
    /* margin-left: 100px; */
    /* width: 135%; */
    display: flex;
    padding: 2%;
    justify-content: space-between;
   }
   .joseph{
   border-radius: 60%;
   width: 120px;
   /* font-size: medium; */
   text-align: center;
   }
   .peter{
    border-radius: 60%;
   width: 230px;
    /* font-size: medium; */
  
   }
  .rilwan{
  border-radius: 60%;
  width: 230px;
  /* font-size: medium; */
  margin-left: 180px; 
   }
   
   .testimonials{
    /* display: flex; */
    /* height: 900px; */
    /* margin-top: 100px; */
    /* text-align: center; */
    background-color: white;
    padding: 5%;
    
   }
   .test{
       display: flex;
       text-align: center;
       font-size: 35px;
       width: 100%;
   }
   .joetestimonial{
    /* border-style: solid; */
    width: 50%;
    font-size: 20px;
    /* height: 400px;
    margin-left: 40px;
    margin-top: 50px; */
   }
   /* .comment1{
    width: 286px;
   } */
   .ptestimonial{
    /* border-style: solid; */
    width: 50%;
    font-size: 20px;
    /* height: 400px; */
    /* margin-right:30px ;
    margin-top: 50px;  
    padding: 20px; */
}
   .rilwantestimonial{
      /* border-style: solid; */
      width: 50%;
      text-align: center;
      /* height: 450px; */
      margin-left: 25%;
      /* margin-top: -490px; */
      font-size: 20px;

   }
   .Friya{
     justify-content: center;
       color: #dc3545;
       font-weight: bolder;
   }
   .breathe{
    justify-content: center;
    color:#dc3545 ;
    font-weight: bolder;
   }
   .red{
       margin-bottom: 100px;
       font-weight: bolder;
       color:#dc3545
   }
   .rilred{
    font-weight: bolder;
   }
   .friya1{
       font-weight: bolder;
   }
   .breathe1{
       font-weight: bolder;
       }
 .comment2{
        margin-left: 50px;
   }
  .rilcent{
      /* margin-left: 140px; */
      /* margin-bottom: 300px; */
      /* border-style: double; */
      width: 350px; 
  }
  .bootcamp{
    /* margin-left: 46px;     */
    width: 180px;  
}
 
  .activities{
    display: flex;
    /* width: 100%; */
    padding: 5%;
    /* border-style: dotted; */
    /* padding-left: 250px; */
    font-size: 18px;
  }
  /* .writer,.hands,.grad{
      padding: 28%;
  } */
  
  .dev{
      display: flex;
  }
  .week{
      /* width: 149px; */
      font-weight: bold;
      /* font-weight: 700; */
      /* text-transform: capitalize; */
  }

  .new{
     font-weight: 700;
     /* width: 142px;      */
     margin-left: 27px;
  }
  .value{
    margin-left: 42px;
    font-weight: bold;
 }
  .containwhitesmoke{
    background-color: whitesmoke;
    padding: 4%;
  }
  .become{
    text-align: center;
    padding: 2%;
  }
  .studioimaga{
    width:50%
  }
 .developerweb{
    width: 50%;
    /* padding: 1%; */
  }
  .Studentslife{
      display: flex;
  }
  .web{
      /* width: 600px; */
      object-fit: contain;
      max-height: 100%;
      max-width: 100%;
  }
 
  .button{
      border-radius: 8px;
      color: white;
      background-color: #007bff;
      /* border-color: #007bff; */
      height: 50px;
      width: 54%; 
      /* margin-left: 20px; */
      border-style: none;
  }
   
  .experience{ 
     text-align: center;
     padding: 2%;
  }
  .studentexperience{
    /* margin-top: 80px; */
    /* border-style: dotted */
    padding: 4%;
  }
  .imageexperience{
      width: 100%;
      /* margin-left: 200px; */
      /* margin-top: 20px; */
      
  }
  .stu{
      font-weight: bolder;
      font-size: 1.6px;
  }
  .imgsticky{
   position: -webkit-sticky;
   position: sticky;
   left:1135px;
   bottom: 90px

  }
.General{
    display: flex;
    padding: 4%;
}

.but{
    height: 50px;
    border-radius: 12px;
    /* border-color: #007bff;; */
    width: 55%;
    border-style: none;
    background-color: #007bff;
    color: white
    
}
.header1 ,.header2,.header3,.header4,.header5,.header6,.header7,.header8,.header9{
font-family: Calibri;
}

/* .art{
    padding: 20px;
} */
.fac{
    /* width: 50%; */
    background-color: whitesmoke; 
    display: flex;
}
.learn{
   
    /* margin-bottom: 20px; */
    width: 44%
    
}
.learning{
   border-style: solid;
    padding: 2%;
    margin-top: 42px;
    box-shadow: 1px 1px 20px 1px;
    border-color: white;
    background-color: white;
    border-radius: 3%;
    /* height: 520px; */
    font-size: 75%;
    width: 347px;
}

.sta{
    /* border-style: dotted; */
    width: 50%;
}
.imaga{
    object-fit: contain;
    max-width: 135%;
    max-height: 100%;
    /* width: 980px; */
    /* border-style: dotted; */
}
.text{
    text-align: center;
}
.art{
    padding: 5%;
    background-color: whitesmoke;
} 
.link{
    cursor: pointer;
    color: #007bff;
}
.techstudio{
    /* width: 50%; */
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    /* border-style: dotted; */
}
.studioacademy{
  width: 387px;
  /* border-style: double; */
  /* height: 500px; */
  padding: 3%;
  
  
  
}
.techcontainer{
    display: flex;
    padding: 2%;
}
.acade{
    margin-left: 90px;
    /* padding-right: 80%; */
    /* border-style: double; */
}
.academy{
    font-size: 15px; 
    text-align: center;   
    /* margin-bottom: 120px; */
    font-weight: bold;
}
.font,.prof,.career{
    font-weight: 700;
}
.flexcontain{
    display: flex;
    padding: 2%;
}
.smileimage{
 width: 55%;
 /* border-style: double; */
}
.excellent{
width: 45%;
/* border-style: solid; */
/* padding: 5%; */


}
.careerimage{
 /* width:610px;
 margin-left: 60px; */
 max-width: 100%;
 max-height: 100%;
 object-fit: contain;
}
.overallcontainer{
    padding: 18%;
}
.sup{
text-align: center;

}
.car{
    font-weight: bold;
    padding: 2%;
}
.guide{
    font-weight: bold;
    font-family: Arial, 
}
.pac{
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-style: none;
    /* border-color: #007bff; */
    border-radius: 5%;
    height: 50px;
    /* width: 40%; */
}
.our{
 padding: 5%;
}
.support{
 padding-left: 10%;
}
.as{
    padding: 2%;
    margin-top: 5px;
}
.whitesmoke{
    /* margin-right: 60px; */
    border-style: solid;
    background-color: whitesmoke;
    padding: 5%;
    border-style: none;
    /* border-color: whitesmoke; */
}
.interest{
  display: flex;
  border-style: none;
  /* padding: 2%; */
  background-color: #007bff;
  width: 60%;
    margin-left: 180px;
  height: 185px;
    /* border-style: solid; */
    /* border-color: #007bff; */
  border-radius: 10px;

}
.gram{
    margin-left: 100px;
    margin-top: 20px;
    color: white;
    font-weight: 600 ;
   
}
.what{
    /* width: 55%; */
    font-size: 11px;
    margin-top: 19px;}
.butget{
    cursor: pointer;
    height: 50px;
    width: 180px;
    border-radius: 5px;
    border-color: #007bff;
    color: #007bff;
    background-color: white   
}
.age{
    padding: 5%;
    /* width: 20%; */
    /* margin-top: 30px; */
}
.frequently{
    padding: 5%;
}
.headerques{
    text-align: center;
    padding: 2%;
}
.betterflex{
    display: flex;
    padding: 2%;
}
.better{
    width: 50%;

}
.Expect{
    width: 50%;
}
.asked,.why,.pactical,.with,.To,.in{
 font-weight: 700;
}
.gat{
    /* border-color: #007bff; */
    cursor: pointer;
    border-style: none;
    background-color: #007bff;
    border-radius: 8px;
    color: white;
    height: 50px;
    width: 45%
    
}
/* .hear{
    padding: 3%;
} */
.blue{
    background-color: #007bff;
    padding: 10%;
}

.flexer{
    display: flex;
   
}
.started{
    border-style: solid;
    width: 60%;
    background-color: white;
    border-color: white;
    padding: 5%;
   
}
.Red{
    border-style: solid;
    width: 40%;
    background-color: #dc3545;
    margin-left: 60px;
    border-color: #dc3545;
    padding: 5%;
}
.weeks{
    cursor: pointer;
    border-style: none;
    border-radius: 7px;
    /* border-color: #007bff; */
    background-color: #007bff;
    color: white;
    width: 248px;
    height: 50px;
}
.black{
    background-color: black;
    padding: 5%;
}
.flexme{
    display: flex;
}
.letter{
  /* margin-left: 81px; */
  margin-left: 162px;
}
.media{
 margin-left: 15px;
 color: white;
 padding-left: 15%;
 

}
.addy{
   color: white;
   margin-left: 8px;
   width: 164px;}
.me{
    width: 23px;
    /* padding-right: 10%; */
}

.logowhite{
    width: 30px;
    float: left;
    /* margin-top: 42px; */
}
.formnews{
    border-style: none;
    border-color: white;
    margin-bottom: 20px;
    height: 55px;
    width: 280px;
}
.su{
    border-style: none;
    background-color: #007bff;
    /* border-color: #007bff; */
    height: 55px;
    width: 280px;  
}
.tec{
color: white;
}
.up{
    color: white;
    font-size: 20px;
}



@media (max-width: 768px) {
    .flexlogoarch{
        display:flex;
        /* padding: 0.50%; */
        margin-left: 45px;
    }
     .nav{
     width: 43%;
     /* font-size: 15px; */
       /* margin-left: 70px; */
       /* margin-top:33px ;  */
       /* border-style: double; */
       /* width: 330px; */
       
     }
     .Down,.Log,.Reg{
         text-decoration: none;
         /* padding-left: 5%; */
         /* font-weight: 300px; */
     }
    .logoclass{
        width: 40px;
        /* margin-top: 34px; */
    }
    .icons{
        width: 100%;
    }
    /* .parra{
     margin-top: -30px;   
    } */
    .fontbold{
        font-size: 15px;
        margin-top: 34px;
    }
    /* .Techaca{
      margin-top: 15px;
      margin-left: 98px;
    } */
    .java{
     /* margin-top: 20px; */
     background-image: url(../IMAGETECHSTUDIO/bg\ \(3\).jpg);
     height: 997px;
     color: white;
     padding: 1%;
     display: block;
     width: 100%;
     /* display: flex; */
     /* object-fit: contain;
     max-width: 100%;
     max-width: 100%; */
    }
    .learnhead{
        margin-top: 20px;
        margin-left: 10px;
       /* font-weight: 5px; */
    }
    .full{
       /* margin-top: 25px; */
       /* margin-left: 25px; */
       width: 356px;
       /* padding: 5%; */
    }
    /* .javacontain{
        display: flex;
        width: 55%;
   
    } */
    .pap{
        padding-top:  5%;
        /* padding-left: 3%; */
   
        width: 80%;
    }
    .papa{
        border-style: solid;
        border-color: white;
         width: 80%;
         background-color: white;
         color: black;
        padding: 2%;
        /* margin-top:50px ; */
        /* height: 450px; */
        /* border-style: dotted; */
        /* margin-left: 70px; */
        
    }
    .faye{
       width: 95%;
       height: 55px;
       border-style: solid;
       font-size: large;
       margin-left: 10px;
    }
       
   .Aloaye{
       width: 95%;
       height: 55px;
       border-style: solid;
       font-size: large;
       margin-left: 10px;
     
   }
   .techie{
       width: 95%;
       height: 55px;
       border-style: solid;
       font-size: large;
       margin-left: 10px;
   }
    .techphone{
       width: 95%;
       height: 55px;
       border-style: solid;
       font-size: large;
       margin-left: 10px;
    }
    .move{
       width: 95%;
       height: 55px;
       background-color: #007bff;
       /* border-color: #007bff; */
       font-weight: 400;
       border-style: none;
       text-align: center;
       vertical-align: middle;
       border-radius: 3px;
       color: white;
       /* margin-right: 50px; */
       /* margin-bottom: 40px; */
       margin-left: 10px;
    }
    .form{
       margin-top:  6%;
       /* height: 330px; */
       /* width: 100%; */
      }
  .add{
     display: flex;
     width: 600px;
     margin-top: -240px;
     /* margin-left: 60pxpx; */
      }
      .seperate{
       width: 100%;
       /* margin-top: 40px; */
       /* margin-left: -35px; */
   }
   .yes{
     width: 300px;
     text-align: center;
   }
   .date{
       margin-left: 50px;
   }
   .time{
   margin-left: 80px;
   }
   .Studio1{
    margin-left: 100px;
    width: 5%;
   
   }
 .div1{
     margin-left: -330px; 
     margin-top: 30px;
     height: 70px;
     width: 80%; 
}
    .div2{
     height: 70px;
     width: 80%;
     margin-bottom:-60px;
      }
    .text1{
     font-weight: bold;
 }
  .text2{
     margin-bottom: -30px;
   
   }
 .div2{
     margin-top: 6px;
 }
  .enrolled{
     /* margin-left: 100px; */
     /* width: 135%; */
     display: flex;
     padding: 2%;
     justify-content: space-between;
 }
  .joseph{
     border-radius: 60%;
     width: 120px;
     font-size: medium;
     text-align: center;
 }
      .peter{
       border-radius: 60%;
       width: 230px;
       font-size: medium;
     
      }
      .rilwan{
       border-radius: 60%;
       width: 230px;
       font-size: medium;
       margin-left: 180px;
      }
      
      .testimonials{
       /* display: flex; */
       /* height: 900px; */
       /* margin-top: 100px; */
       /* text-align: center; */
       background-color: white;
       padding: 5%;
       width: 100%;
       
      }
      .test{
          display: block;
          /* text-align: center; */
      }
      .joetestimonial{
       /* border-style: solid; */
       width: 50%;
       padding: 5%;
       /* height: 400px; */
        margin-left: 117px;
      }
      .ptestimonial{
       /* border-style: solid; */
       width: 50%;
       padding: 5%;
       /* height: 400px;  */
       margin-left: 117px ;
       /* margin-top: 50px;   */
       /* padding: 20px; */
   }
      .rilwantestimonial{
       /* border-style: solid; */
       width: 50%;
       /* text-align: center; */
       /* height: 450px; */
       margin-left: 124px;
       padding: 5%;
       /* margin-top: -490px;   */
   
      }
      .Friya{
        justify-content: center;
          color: #dc3545;
          font-weight: bolder;
      }
      .breathe{
       justify-content: center;
       color:#dc3545 ;
       font-weight: bolder;
      }
      .red{
          margin-bottom: 100px;
          font-weight: bolder;
          color:#dc3545
      }
      .rilred{
       font-weight: bolder;
      }
      .friya1{
          font-weight: bolder;
      }
      .breathe1{
          font-weight: bolder;
          }
    .comment2{
           margin-left: 50px;
      }
     .rilcent{
         /* margin-left: 58px; */
         /* margin-bottom: 300px; */
         /* border-style: double; */
         width: 209px; 
         font-size: 15px;
     }
     .bootcamp{
        /* margin-left: 197px; */
        width: 180px;
   }
   .boot{
    width: 50%;
    margin-left: 266px;
    width: 50%;
    margin-left: 0px;
   }
   .writer{
       font-size: 17px;
       /* width: 263px; */
       /* margin-left: 198px; */
   }
     .activities{
        display: block;
        width: 100%;
        padding: 5%;
        margin-left: 162px;
         /* border-style: dotted; */
         /* padding-left: 250px; */
     }
     
     .dev{
         display: flex;
         font-size: 31px;
     }
     .hands{
         font-size: 17px;
         /* width: 286px; */
     }
     .grad{
         font-size: 17px;
         /* width: 282px; */
     }
     .week{
         /* margin-left: 53px; */
         /* width: 149px; */
         font-size: 18px;
         /* font-weight: 700; */
         /* text-transform: capitalize; */
     }
   
     .new{
        /* font-weight: 700; */
        /* width: 142px;      */
        font-size: 18px;     }
     .value{
         font-size: 18px;
       /* margin-left: 60px; */
       /* font-weight: bold; */
    }
     .containwhitesmoke{
       background-color: whitesmoke;
       padding: 4%;
     }
     .become{
       text-align: center;
       padding: 2%;
       width: 378px;
     }
     .studioimaga{
       width:50%
     }
    .developerweb{
       width: 50%;
       /* padding: 1%; */
     }
     .Studentslife{
         display: block;
         width: 746px;
     }
     .web{
         /* width: 600px; */
         object-fit: contain;
         max-height: 100%;
         max-width: 100%;
     }
    
     .button{
         border-radius: 8px;
         color: white;
         background-color: #007bff;
         /* border-color: #007bff; */
         height: 50px;
         width: 54%; 
         /* margin-left: 20px; */
         border-style: none;
     }
      
     .experience{ 
        text-align: center;
        padding: 2%;
     }
     .studentexperience{
       /* margin-top: 80px; */
       /* border-style: dotted */
       padding: 4%;
     }
     .imageexperience{
         width: 100%;
         /* margin-left: 200px; */
         /* margin-top: 20px; */
         
     }
     .stu{
         font-weight: bolder;
         font-size: 1.6px;
     }
     .imgsticky{
      position: -webkit-sticky;
      position: sticky;
      left:1135px;
      bottom: 90px
   
     }
   .General{
       display: block;
       padding: 4%;
   }
   
   .but{
       height: 50px;
       border-radius: 12px;
       /* border-color: #007bff;; */
       width: 82%;
       border-style: none;
       background-color: #007bff;
       color: white
       
   }
   .header1 ,.header2,.header3,.header4,.header5,.header6,.header7,.header8,.header9{
   font-family: Calibri;
   }
   /* .art{
       padding: 20px;
   } */
   .fac{
       /* width: 50%; */
       background-color: whitesmoke; 
       display: block;
   }
   .learn{
      
       /* margin-bottom: 20px; */
       width: 44%
       
   }
   .learning{
      border-style: solid;
       padding: 2%;
       margin-top: 42px;
       box-shadow: 1px 1px 20px 1px;
       border-color: white;
       background-color: white;
       border-radius: 3%;
       /* height: 520px; */
       font-size: 75%;
       width: 347px;
   }
   
   .sta{
       /* border-style: dotted; */
       width: 50%;
   }
   .imaga{
       object-fit: contain;
       max-width: 135%;
       max-height: 100%;
       /* width: 980px; */
       /* border-style: dotted; */
   }
   .text{
       text-align: center;
   }
   .art{
       padding: 5%;
       background-color: whitesmoke;
   } 
   .link{
       cursor: pointer;
       color: #007bff;
   }
   .techstudio{
       /* width: 50%; */
       object-fit: contain;
       max-width: 100%;
       max-height: 100%;
       /* border-style: dotted; */
   }
   .studioacademy{
     width: 263px;
     /* border-style: double; */
     /* height: 500px; */
     padding: 5%;
   }
    .techimage{
      width: 438px;
    } 
     
   .techcontainer{
       display: block;
       padding: 2%;
   }
   .acade{
       margin-left: 90px;
       /* padding-right: 80%; */
       /* border-style: double; */
   }
   .academy{
       font-size: 15px; 
       /* text-align: center;    */
       /* margin-bottom: 120px; */
       font-weight: bold;
       margin-right: 179px;
   }
   .font,.prof,.career{
       font-weight: 700;
   }
   .flexcontain{
       display: block;
       padding: 2%;
   }
   .smileimage{
    width: 55%;
    /* border-style: double; */
   }
   .excellent{
   width: 45%;
   /* border-style: solid; */
   /* padding: 5%; */
   
   
   }
   .careerimage{
    /* width:610px;
    margin-left: 60px; */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
   }
   .overallcontainer{
       padding: 18%;
   }
   .sup{
   text-align: center;
   
   }
   .car{
       font-weight: bold;
       padding: 2%;
       width: 407px;
   }
   .guide{
       font-weight: bold;
       font-family: Arial, 
   }
   .pac{
       cursor: pointer;
       background-color: #007bff;
       color: white;
       border-style: none;
       /* border-color: #007bff; */
       border-radius: 5%;
       height: 50px;
       /* width: 40%; */
   }
   .our{
    padding: 5%;
   }
   .support{
    padding-left: 10%;
   }
   .as{
       padding: 2%;
       margin-top: 5px;
       width: 369px;
   }
   .whitesmoke{
       /* margin-right: 60px; */
       border-style: solid;
       background-color: whitesmoke;
       padding: 5%;
       border-style: none;
       /* border-color: whitesmoke; */
   }
   .interest{
    display: block;
    border-style: none;
    padding: 2%;
    background-color: #007bff;
    width: 94%;
    margin-left: 4px;
    height: 185px;
    /* border-style: solid; */
    /* border-color: #007bff; */
    border-radius: 10px;
   
   }
   .gram{
       margin-left: 16px;
       /* margin-top: 20px; */
       color: white;
       font-size: 23px;      
   }
   .what{
          /* width: 55%; */
    font-size: 11px;
    /* margin-top: 19px; */
}
   .butget{
    cursor: pointer;
    height: 50px;
    width: 192px;
    border-radius: 5px;
    border-style: none;
    /* border-color: #007bff; */
    color: #007bff;
    background-color: white;
   }
   .age{
       padding: 5%;
     width: 20%; 
       margin-top: 30px; 
   }
   .frequently{
       padding: 5%;
   }
   .headerques{
       text-align: center;
       padding: 2%;
   }
   .betterflex{
       display: block;
       padding: 2%;
   }
   .better{
       width: 100%;
       padding: 3%;
   
   }
   .Expect{
       width: 100%;
       padding: 3%;
   }
   .asked,.why,.pactical,.with,.To,.in{
    font-weight: 700;
   }
   .gat{
       /* border-color: #007bff; */
       cursor: pointer;
       border-style: none;
       background-color: #007bff;
       border-radius: 8px;
       color: white;
       height: 50px;
       width: 45%
       
   }
   /* .hear{
       padding: 3%;
   } */
   .blue{
       background-color: #007bff;
       padding: 10%;
   }
   
   
   .flexer{
       display: block;
      
   }
   .started{
       border-style: solid;
       width: 100%;
       background-color: white;
       border-color: white;
       padding: 5%;
      
   }
   .Red{
    border-style: solid;
    width: 100%;
    background-color: #dc3545;
    /* margin-left: 60px; */
    border-color: #dc3545;
    padding: 5%;
    /* margin-right: 57px; */
    margin-left: 1px;
    padding: 5%;
   }
   .weeks{
       cursor: pointer;
       border-style: none;
       border-radius: 7px;
       /* border-color: #007bff; */
       background-color: #007bff;
       color: white;
       width: 248px;
       height: 50px;
   }
   .black{
       background-color: black;
       padding: 5%;
   }
   .flexme{
       display: block;
   }
   .letter{
     margin-left: 81px;
   }
   .media{
    margin-left: 33px;
    color: white;
    
   
   }
   .addy{
    color: white;
    margin-left: 83px;
    width: 220px;
    font-size: 23px;
    /* margin-top: 44px; */
   }
   .me{
    width: 45px;
    padding-right: 5%;
    margin-left: 43px
   }
   
   .logowhite{
    width: 30px;
    float: left;
    margin-top: 4px;
    margin-left: 50px;
}
   .formnews{
    border-style: none;
    border-color: white;
    margin-bottom: 20px;
    height: 55px;
    width: 248px;
    font-size: 16px;
   }
   .su{
       border-style: none;
       background-color: #007bff;
       /* border-color: #007bff; */
       height: 55px;
       width: 248px;
      font-size: 16px
       
   }
   .social{
    font-size: 24px;
    margin-left: 52px;
   }
   .up{
       color: white;
       font-size: 20px;
   }
 
   

@media (max-width: 425px) {
    .flexlogoarch{
        display:block;
        /* padding: 0.50%; */
        margin-left: 45px;
    }
     .nav{
     width: 43%;
     /* font-size: 15px; */
       /* margin-left: 70px; */
       /* margin-top:33px ;  */
       /* border-style: double; */
       /* width: 330px; */
       
     }
     .Down,.Log,.Reg{
         text-decoration: none;
         /* padding-left: 5%; */
         /* font-weight: 300px; */
     }
    .logoclass{
        width: 40px;
        /* margin-top: 34px; */
    }
    .icons{
        width: 100%;
    }
    .parra{
     margin-top: -30px;   
    }
    .fontbold{
        font-size: 15px;
    }
    /* .Techaca{
      margin-top: 15px;
      margin-left: 98px;
    } */
    .java{
     /* margin-top: 20px; */
     background-image: url(../IMAGETECHSTUDIO/bg\ \(3\).jpg);
     height: 997px;
     color: white;
     padding: 1%;
     display: block;
     width: 100%;
     /* display: flex; */
     /* object-fit: contain;
     max-width: 100%;
     max-width: 100%; */
    }
    .learnhead{
        margin-top: 20px;
        margin-left: 10px;
       /* font-weight: 5px; */
    }
    .full{
       /* margin-top: 25px; */
       /* margin-left: 25px; */
       width: 298px;
       /* padding: 5%; */
    }
    /* .javacontain{
        display: flex;
        width: 55%;
   
    } */
    .pap{
        padding-top: 5%;
     /* padding-left: 3%; */
     width: 319px;
    }
    .papa{
        border-style: solid;
        border-color: white;
         width: 80%;
         background-color: white;
         color: black;
        padding: 2%;
        /* margin-top:50px ; */
        /* height: 450px; */
        /* border-style: dotted; */
        /* margin-left: 70px; */
        
    }
    .faye{
       width: 95%;
       height: 55px;
       border-style: solid;
       font-size: large;
       margin-left: 10px;
    }
       
   .Aloaye{
       width: 95%;
       height: 55px;
       border-style: solid;
       font-size: large;
       margin-left: 10px;
     
   }
   .techie{
       width: 95%;
       height: 55px;
       border-style: solid;
       font-size: large;
       margin-left: 10px;
   }
    .techphone{
       width: 95%;
       height: 55px;
       border-style: solid;
       font-size: large;
       margin-left: 10px;
    }
    .move{
       width: 95%;
       height: 55px;
       background-color: #007bff;
       /* border-color: #007bff; */
       font-weight: 400;
       border-style: none;
       text-align: center;
       vertical-align: middle;
       border-radius: 3px;
       color: white;
       /* margin-right: 50px; */
       /* margin-bottom: 40px; */
       margin-left: 10px;
    }
    .form{
       margin-top:  6%;
       /* height: 330px; */
       /* width: 100%; */
      }
  .add{
     display: flex;
     width: 600px;
     margin-top: -240px;
     /* margin-left: 60pxpx; */
      }
      .seperate{
       width: 100%;
       /* margin-top: 40px; */
       /* margin-left: -35px; */
   }
   .yes{
     width: 300px;
     text-align: center;
   }
   .date{
       margin-left: 50px;
   }
   .time{
   margin-left: 80px;
   }
   .Studio1{
    margin-left: 100px;
    width: 5%;
   
   }
 .div1{
     margin-left: -330px; 
     margin-top: 30px;
     height: 70px;
     width: 80%; 
}
    .div2{
     height: 70px;
     width: 80%;
     margin-bottom:-60px;
      }
    .text1{
     font-weight: bold;
 }
  .text2{
     margin-bottom: -30px;
   
   }
 .div2{
     margin-top: 6px;
 }
  .enrolled{
     /* margin-left: 100px; */
     /* width: 135%; */
     display: flex;
     padding: 2%;
     margin-right: 33px;
     font-size: 12px;
     /* justify-content: space-between; */
 }
  .joseph{
     border-radius: 60%;
     width: 120px;
     font-size: medium;
     text-align: center;
 }
      .peter{
       border-radius: 60%;
       width: 230px;
       font-size: medium;
     
      }
      .rilwan{
       border-radius: 60%;
       width: 230px;
       font-size: medium;
       margin-left: 180px;
      }
      
      .testimonials{
       /* display: flex; */
       /* height: 900px; */
       /* margin-top: 100px; */
       /* text-align: center; */
       background-color: white;
       padding: 5%;
       width: 100%;
       
      }
      .test{
          display: block;
          /* text-align: center; */
      }
      .joetestimonial{
       /* border-style: solid; */
       width: 73%;
       padding: 5%;
       /* height: 400px; */
        margin-left: 38px;
      }
      .ptestimonial{
       /* border-style: solid; */
       width: 73%;
       padding: 5%;
       /* height: 400px;  */
       margin-left: 38px ;
       /* margin-top: 50px;   */
       /* padding: 20px; */
   }
      .rilwantestimonial{
       /* border-style: solid; */
       width: 73%;
       /* text-align: center; */
       /* height: 450px; */
       margin-left: 38px;
       padding: 5%;
       /* margin-top: -490px;   */
   
      }
     
      .Friya{
        justify-content: center;
          color: #dc3545;
          font-weight: bolder;
      }
      .breathe{
       justify-content: center;
       color:#dc3545 ;
       font-weight: bolder;
      }
      .red{
          margin-bottom: 100px;
          font-weight: bolder;
          color:#dc3545
      }
      .rilred{
       font-weight: bolder;
      }
      .friya1{
          font-weight: bolder;
      }
      .breathe1{
          font-weight: bolder;
          }
    .comment2{
           margin-left: 50px;
      }
     .rilcent{
         /* margin-left: 58px; */
         /* margin-bottom: 300px; */
         /* border-style: double; */
         width: 209px; 
         font-size: 15px;
     }
     .bootcamp{
        /* margin-left: 197px; */
        width: 180px;
   }
   .boot{
    width: 100%;
    margin-left: -100px;
    /* margin-left: 266px; */
   }
   .skills{
    width: 100%;
    margin-left: -100px;
}
   }
   .student{
    width: 100%;
    /* margin-left: -100px; */
}

   .writer{
       font-size: 17px;
       /* width: 263px; */
       /* margin-left: 198px; */
   }
     .activities{
        display: block;
        width: 100%;
        padding: 5%;
        margin-left: 162px;
         /* border-style: dotted; */
         /* padding-left: 250px; */
     }
     .expert,.bootcamp,.develop{
        width: 238px;

     }
     
     .dev{
         /* display: flex; */
         font-size: 21px;
     }
     .explore{
         width: 84%;
     }
     .hands{
        font-size: 17px;
        width: 286px;
     }
     .grad{
        font-size: 17px;
      width: 282px;
     }
     .week{
         /* margin-left: 53px; */
         /* width: 149px; */
         font-size: 18px;
         /* font-weight: 700; */
         /* text-transform: capitalize; */
     }
   
     .new{
        /* font-weight: 700; */
        /* width: 142px;      */
        font-size: 18px;     }
     .value{
         font-size: 18px;
       /* margin-left: 60px; */
       /* font-weight: bold; */
    }
     .containwhitesmoke{
       background-color: whitesmoke;
       padding: 4%;
     }
     .become{
       text-align: center;
       padding: 2%;
       width: 100%;
       font-weight: 700;
         }
     .studioimaga{
        width: 628px;  
      }
    .developerweb{
        width: 100%;
        /* padding: 1%; */
        font-size: 17px;
     }
     .Studentslife{
         display: block;
         width: 100%;
     }
     .web{
         /* width: 600px; */
         object-fit: contain;
         max-height: 100%;
         max-width: 100%;
     }
    
     .button{
         border-radius: 8px;
         color: white;
         background-color: #007bff;
         /* border-color: #007bff; */
         height: 50px;
         width: 71%; 
         /* margin-left: 20px; */
         border-style: none;
     }
      
     .experience{ 
        text-align: center;
        padding: 2%;
     }
     .studentexperience{
       /* margin-top: 80px; */
       /* border-style: dotted */
       padding: 4%;
     }
     .imageexperience{
         width: 100%;
         /* margin-left: 200px; */
         /* margin-top: 20px; */
         
     }
     .stu{
         font-weight: bolder;
         font-size: 1.6px;
     }
     .imgsticky{
      position: -webkit-sticky;
      position: sticky;
      left:1135px;
      bottom: 90px
   
     }
   .General{
       display: block;
       padding: 4%;
   }
   
   .but{
       height: 50px;
       border-radius: 12px;
       /* border-color: #007bff;; */
       width: 82%;
       border-style: none;
       background-color: #007bff;
       color: white
       
   }
   .header1 ,.header2,.header3,.header4,.header5,.header6,.header7,.header8,.header9{
   font-family: Calibri;
   }
   /* .art{
       padding: 20px;
   } */
   .fac{
       /* width: 50%; */
       background-color: whitesmoke; 
       display: block;
   }
   .learn{
      
       /* margin-bottom: 20px; */
       width: 44%
       
   }
   .learning{
      border-style: solid;
       padding: 2%;
       margin-top: 42px;
       box-shadow: 1px 1px 20px 1px;
       border-color: white;
       background-color: white;
       border-radius: 3%;
       /* height: 520px; */
       font-size: 82%;
       width:436px;   }
   
   .sta{
       /* border-style: dotted; */
       width: 87%;
   }
   .imaga{
       object-fit: contain;
       max-width: 135%;
       max-height: 100%;
       /* width: 980px; */
       /* border-style: dotted; */
   }
   .text{
       text-align: center;
   }
   .art{
       padding: 5%;
       background-color: whitesmoke;
   } 
   .link{
       cursor: pointer;
       color: #007bff;
   }
   .techstudio{
       /* width: 50%; */
       object-fit: contain;
       max-width: 100%;
       max-height: 100%;
       /* border-style: dotted; */
   }
   .studioacademy{
    width: 555px;
    font-size: 20px;
    /* border-style: double; */
    /* height: 500px; */
    padding: 5%;
   }
    .techimage{
        width: 638px;
        padding: 5%;
    }     
   .techcontainer{
       display: block;
       padding: 2%;
   }
   .acade{
       margin-left: 90px;
       /* padding-right: 80%; */
       /* border-style: double; */
   }
   .academy{
       /* font-size: 15px;  */
       /* text-align: center;    */
       /* margin-bottom: 120px; */
       font-size: 30px;
       width: 495px;
   }
   .font,.prof,.career{
       font-weight: 700;
   }
   .flexcontain{
       display: block;
       padding: 2%;
   }
   .smileimage{
    width: 55%;
    /* border-style: double; */
   }
   .excellent{
   width: 45%;
   /* border-style: solid; */
   /* padding: 5%; */
   
   
   }
   .careerimage{
    width:610px;
    /* margin-left: 60px;  */
    
   }
   .overallcontainer{
       padding: 18%;
   }
   .sup{
   text-align: center;
   
   }
   .car{
    padding: 2%;
    width: 629px;
   }
   .guide{
    font-size: 21px;
    width: 529px;
    padding: 5%;

   }
   .pac{
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-style: none;
    /* border-color: #007bff; */
    border-radius: 5%;
    height: 60px;
    width: 210px;
    font-size: 20px;
   }
   .our{
    padding: 5%;
   }
   .support{
    padding-left: 10%;
    font-size: 18px;
    width: 564px;
   }
   .as{
    padding: 2%;
    margin-top: 5px;
    width: 641px;
    font-size: 20px;
    margin-left: 125px;
   }
   .whitesmoke{
       /* margin-right: 60px; */
       border-style: solid;
       background-color: whitesmoke;
       padding: 5%;
       border-style: none;
       /* border-color: whitesmoke; */
   }
   .interest{
    display: block;
    border-style: none;
    padding: 2%;
    background-color: #007bff;
    width: 100%;
    /* margin-left: 4px; */
    height: 185px;
    /* border-style: solid; */
    /* border-color: #007bff; */
    border-radius: 10px;
    width: 338px;
   
   }
   .gram{
       margin-left: 16px;
       /* margin-top: 20px; */
       color: white;
       font-size: 23px;      
   }
   .what{
          /* width: 55%; */
    font-size: 11px;
    /* margin-top: 19px; */
}
   .butget{
    cursor: pointer;
    height: 50px;
    width: 192px;
    border-radius: 5px;
    border-style: none;
    /* border-color: #007bff; */
    color: #007bff;
    background-color: white;
   }
   .age{
       padding: 5%;
     width: 20%; 
     margin-top: -24px; 
      }
   .frequently{
       padding: 5%;
   }
   .headerques{
       text-align: center;
       padding: 2%;
   }
   .betterflex{
       display: flex;
       padding: 2%;
   }
   .better{
       width: 100%;
       padding: 3%;
   
   }
   .Expect{
       width: 100%;
       padding: 3%;
   }
   .asked,.why,.pactical,.with,.To,.in{
    font-weight: 700;
   }
   .gat{
       /* border-color: #007bff; */
       cursor: pointer;
       border-style: none;
       background-color: #007bff;
       border-radius: 8px;
       color: white;
       height: 50px;
       width: 45%
       
   }
   /* .hear{
       padding: 3%;
   } */
   .blue{
       background-color: #007bff;
       padding: 10%;
   }
   
   .flexer{
       display: block;
      
   }
   .started{
       border-style: solid;
       width: 100%;
       background-color: white;
       border-color: white;
       padding: 5%;
      
   }
   .Red{
    border-style: solid;
    width: 100%;
    background-color: #dc3545;
    /* margin-left: 60px; */
    border-color: #dc3545;
    padding: 5%;
    /* margin-right: 57px; */
    margin-left: 1px;
    padding: 5%;
   }
   .weeks{
       cursor: pointer;
       border-style: none;
       border-radius: 7px;
       /* border-color: #007bff; */
       background-color: #007bff;
       color: white;
       width: 248px;
       height: 50px;
   }
   .black{
       background-color: black;
       padding: 5%;
   }
   .flexme{
       display: block;
   }
   .letter{
    margin-left: 40px;   }
   .media{
    margin-left: 33px;
    color: white;
    
   
   }
   .addy{
    color: white;
    margin-left: 48px;
    width: 220px;
    font-size: 23px;
    /* margin-top: 44px; */
   }
   .me{
    width: 36px;
    padding-right: 5%;
    margin-left: 24px;
   }
   
   .logowhite{
    width: 37px;
    float: left;
    margin-top: 4px;
    margin-left: 3px;
}
   .formnews{
    border-style: none;
    border-color: white;
    margin-bottom: 20px;
    height: 55px;
    width: 190px;
    font-size: 16px;
   }
   .su{
       border-style: none;
       background-color: #007bff;
       /* border-color: #007bff; */
       height: 55px;
       width: 190px;
       font-size: 26px;
       
   }
   .social{
    font-size: 24px;
    margin-left: 52px;
   }
   .up{
       color: white;
       font-size: 20px;
   }
}